/**********************
/***** Services *******
/*********************/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section{
	padding: 60px 0;
}
section .section-title{
	text-align:center;
	color:#35413e;
	margin-bottom:50px;
	text-transform:uppercase;
}
#services{
	background:#ffffff;
}
#services .card{
	padding: 1rem!important;
	border: none;
	margin-bottom:1rem;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#services .card:hover{
	-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
#services .card .card-block{
	padding-left: 50px;
    position: relative;
}
#services .card .card-block a{
	color: #4b5c58 !important;
	font-weight:700;
	text-decoration:none;
}
#services .card .card-block a i{
	display:none;
	
}
#services .card:hover .card-block a i{
	display:inline-block;
	font-weight:700;
	
}
#services .card .card-block:before{
	font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: #2b302f;
    left: 0;
	-webkit-transition: -webkit-transform .2s ease-in-out;
    transition:transform .2s ease-in-out;
}

/*insertion of icons*/
#services .card .block-1:before{
    content: "\f0e7";
}
#services .card .block-2:before{
    content: "\f0eb";
}
#services .card .block-3:before{
    content: "\f00c";
}
#services .card .block-4:before{
    content: "\f209";
}
#services .card .block-5:before{
    content: "\f0a1";
}
#services .card .block-6:before{
    content: "\f218";
}
#services .card:hover .card-block:before{
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);	
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

footer{
    height: 80px;
}



@media (max-width:466px){
	.image{
		float: left;
		width: 50%;
	}

	.text{
		float: right;
		width: 50%;
	}
}

#game{
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(248,80,50,1)), color-stop(29%, rgba(241,111,92,1)), color-stop(64%, rgba(246,41,12,1)), color-stop(82%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
	height: 800px;
}

.game-card{
	height: 150px !important;
/*	width: 15px !important;
*/	font-weight: bold;
	padding: 0;
	margin: 0;
	color: black;
	background-color: black;
}

#tab{
	border: 0px;
	text-align: center;
	font-family: montserrat;
	padding: 0;
	border-spacing: 0px;
	border: 1px solid;
	width: 100%;

}

input {
	outline: none;
	padding: 10px;
	border: 0px;
	text-align: center;
	border-bottom : 2px aquamarine solid;
	margin-bottom : 15px; 
	width:100px;
	font-size: 16px;
}

#out{
	width: 100%;

}

